body {
  text-align: center;
}

a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.nav {
  height: 10vh;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  background-color: rgb(0, 2, 2);
  list-style: none;
}

.message {
  font-size: 30px;
  padding-top: 30px;
  text-transform: capitalize;
}
